*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header span{
    font-size: 40px;
}

main h1{
    margin-top: 10px;
    font-size: 28px;
}

main p{
    margin: 15px;
    color: #cbd5f5;
}

main a{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

main a:hover{
    background: #0ea5e9;
}

footer{
    margin-top: 20px;
    font-size: 12px;
    color: #94a3b8;
}